@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hide scrollbar for Chrome, Safari and Opera */
/* .scrollbar::-webkit-scrollbar {
    display: none;
} */

/* Hide scrollbar for IE, Edge, and Firefox */
/* .scrollbar {
    -ms-overflow-style: none;  
    scrollbar-width: none; 
} */


.scrollbar::-webkit-scrollbar {
  width: 4px;
}

/* Track */
.scrollbar::-webkit-scrollbar-track {
  background: #888;
  background: #03290d;
  border-radius: 10px;
}

/* Handle */
.scrollbar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #34CAA5;
}

/* Handle on hover */
.scrollbar::-webkit-scrollbar-thumb:hover {
  background:  #FBB62D;
}